<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="C:\Users\Utilisateur\Documents\Darty Cloud\Salma\auto-formation\Atos\angularAutoForm\src\styles.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 15px;">
  <a class="navbar-brand" style="color:white;">Cocktail Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" style="cursor: pointer;" routerLink="/getLesCocktails">Liste des Cocktails </a>
        </li>
        <li class="nav-item active">
         <a class="nav-link" style="cursor: pointer;" routerLink="/getLesIngredients">Liste des Ingredients</a>
      </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" 
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Recherche de cocktails" required>
     </form>
  </div>
</nav>



<router-outlet></router-outlet>

<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>



